.bc{
    position: absolute;
    top: 127px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    margin-left: 80px;
}

.bc a{
    text-decoration: none;
    color: #406C9A;
}

.heading{
    position: absolute;
    width: 131px;
    height: 38px;
    top: 188px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #104781;
    margin-left: 80px;
}

.help_menu{
    position: absolute;
    width: 434px;
    height: 217px;
    top: 276px;
    background: #BAF3FC;
    border-radius: 15px;
    padding-left: 60px;
    padding-top: 50px;
    margin-left: 80px;
}

.help_menu ul{
    padding: 0;
}

.help_menu ul li{
    list-style: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
    padding-bottom: 15px;
}

.ep{
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 543px;
    background: #BAF3FC;
    border-radius: 15px;
    margin-left: 80px;
}

.ep p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    margin: 0;
    padding-left: 60px;
    padding-top: 36px;
    padding-bottom: 66px;
}

.ep h6{
    width: 600px;
    height: 63px;
}

.thin_text{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;
    margin-left: 100px;
    padding-bottom: 15px;
}

.list{
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 776px;
    background: #BAF3FC;
    border-radius: 15px;
    margin-left: 80px;
}

.list p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    padding-left: 60px;
    padding-top: 36px;
    padding-bottom: 51px;
    margin: 0;
}

.list ul {
    display: inline-block;
    padding-left: 0;
}

.list ul li{
    list-style: none;
    width: 410px;
    margin-top: 15px;
    color: #104781;
}

.link{
    margin-left: 100px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
    color: #104781;
}

.right_col{
    position: absolute;
    width: 546px;
    height: 100px;
    margin-left: 520px;
    top: 896px;
    list-style: none;
}

.right_col li.thin_text{
    width: 500px;
}

.right_col li.link{
    width: 546px;
    margin-top: 15px;
}

.ep_settings{
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 1075px;
    background: #BAF3FC;
    border-radius: 15px;
    margin-left: 80px;
}

.ep_settings p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    padding-left: 60px;
    padding-top: 36px;
    padding-bottom: 51px;
    margin: 0;
}

.ep_settings h6{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding-left: 60px;
}

.p_1{
    width: 620px;
    height: 42px;
    padding-top: 20px;
    color: #104781;
}

.p_2{
    width: 748px;
    height: 42px;
    padding-top: 30px;
    color: #104781;
}

.p_3{
    width: 451px;
    height: 21px;
    padding-top: 40px;
    color: #104781;
}

.p_4{
    width: 655px;
    height: 63px;
    padding-top: 45px;
    color: #406C9A;
}

.base_bg {
    margin-top: 1513px;
}

.base{
    margin-top: 1513px;
}