
.content {
    width: 100%;
}

.ogl_l {position: absolute;
    width: 800px;
    height: 16px;
    margin-left: 80px;
    top: 127px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: #406C9A;
    text-decoration: none;
    border: none;

}

.txt_lk {position: absolute;
    width: 259px;
    height: 38px;
    margin-left: 80px;
    top: 188px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */


    color: #104781;}

.table_lk {position: absolute;
    width: 300px;
    height: 232px;
    margin-left: 80px;
    top: 276px;

    background: #BAF3FC;
    border-radius: 15px;}

.logout-1-traced {
    position: absolute;

    left: 242px;
    top: 49px;
    width: 18px;
    height: 20px;
}

.login{
    position: absolute;
    width: 102px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.poloska {position: absolute;
    width: 200px;
    height: 0px;
    left: 60px;
    top: 83px;

    opacity: 0.4;
    border: 1px solid #406C9A;}

.ld {position: absolute;
    width: 138px;
    height: 18px;
    left: 60px;
    top: 98px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.org_sobr {
    position: absolute;
    width: 198px;
    height: 18px;
    left: 60px;
    top: 131px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
}

.chern_zaiav {position: absolute;
    width: 156px;
    height: 18px;
    left: 60px;
    top: 164px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;}

.table2 {position: absolute;
    width: 1160px;
    height: 1388px;
    margin-left: 80px;
    top: 558px;

    background: #BAF3FC;
    border-radius: 15px;}

.table3 {position: absolute;
    width: 1160px;
    height: 1432px;
    margin-left: 80px;
    top: 558px;

    background: #BAF3FC;
    border-radius: 15px;}

.table_uch {position: absolute;
    width: 1160px;
    height: 881px;
    margin-left: 80px;
    top: 558px;

    background: #BAF3FC;
    border-radius: 15px;}

.txt_obsh {
    position: absolute;
    width: 400px;
    height: 18px;
    left: 0px;
    top: -40px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
}

.famil {position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.name {position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 134px;

    background: #FFFFFF;
    border-radius: 10px;}

.otch {position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 134px;

    background: #FFFFFF;
    border-radius: 10px;}

.pocht_adres {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;}

.unn {position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 10px;}

.unn2 {position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 10px;}

.snils {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 10px;}

.snils2 {position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 10px;}

.ogrnip {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 10px;
}

.telefon {position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 490px;

    background: #FFFFFF;
    border-radius: 10px;}

.email {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 490px;

    background: #FFFFFF;
    border-radius: 10px;}


.new_pas {position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 676px;

    background: #FFFFFF;
    border-radius: 10px;}


.new_pas2 {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 676px;

    background: #FFFFFF;
    border-radius: 10px;}

.seria {position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 862px;

    background: #FFFFFF;
    border-radius: 10px;}

.nomer {position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 862px;

    background: #FFFFFF;
    border-radius: 10px;}

.data {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 862px;

    background: #FFFFFF;
    border-radius: 10px;}

.kem_vidan {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 980px;

    background: #FFFFFF;
    border-radius: 10px;}

.forms {
    padding:12px;
    width: 400px;
    border-radius:10px;
    border: white;

}

.forms:focus{
    outline: none;
}

.forms2 {
    padding:12px;
    width: 1040px;
    border-radius:10px;
    border: white;

}

.forms2:focus{
    outline: none;
}


.forms3 {  padding:12px;
    width: 590px;
    border-radius:10px;
    border: white;

}

.forms3:focus{
    outline: none;
}


.forms4 {
    padding:12px;
    width: 300px;
    border-radius:10px;
    border: none;

}
.forms4:focus{
    outline: none;
}

.forms5 {
    padding:12px;
    width: 340px;
    border-radius:10px;
    border: white;


}
.forms5:focus{
    outline: none;
}

.ld2 {position: absolute;
    width: 138px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.izm_pas {position: absolute;
    width: 152px;
    height: 18px;
    left: 60px;
    top: 590px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.pass {position: absolute;
    width: 177px;
    height: 18px;
    left: 60px;
    top: 776px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.doks {position: absolute;
    width: 101px;
    height: 18px;
    left: 60px;
    top: 1080px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.doks_txt {position: absolute;
    width: 425px;
    height: 105px;
    left: 60px;
    top: 1128px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #406C9A;}

.dor {position: absolute;
    width: 94px;
    height: 94px;
    left: 600px;
    top: 1134px;
}

.prek_dok {position: absolute;
    width: 194px;
    height: 18px;
    left: 709px;
    top: 1150px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-decoration-line: underline;

    color: #104781;}

.knopka {position: absolute;
    width: 340px;
    height: 55px;
    left: 400px;
    top: 1283px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.knopka_uch {position: absolute;
    width: 340px;
    height: 55px;
    left: 400px;
    top: 776px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.baselk {
    position: absolute;
    width: 1160px;
    height: 298px;
    top: 1746px;
    margin-top: 290px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 136.5%;
    color: #FFFFFF;
}
.base_bglk {
    position: absolute;
    width: 100%;
    left: 0;
    height: 298px;
    top: 1746px;
    bottom: 0;
    margin-top: 290px;

    background: #104781;
}

.lk_mal {position: absolute;
    width: 134px;
    height: 18px;
    left: 60px;
    top: 98px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

    color: #406C9A;}

.menu {
    top: 0px;
}
