.table_min {position: absolute;
    width: 1160px;
    height: 90px;
    margin-left: 80px;
    top: 558px;

    background: #BAF3FC;
    border-radius: 15px;}

.org_sobr2 {position: absolute;
    width: 202px;
    height: 18px;
    left: 60px;
    top: 36px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.dob_sobr {position: absolute;
    width: 168px;
    height: 18px;
    left: 906px;
    top: 36px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-align: center;

    color: #00345F;}

.plus {position: absolute;
    left: 1084px;
    top: 37px;
}

.table {
    position: absolute;
    margin-left: 80px;
    height: 678px;
    width: 1160px;
    top: 726px;
    color: #FFFFFF;
}


.table_item {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 1160px;
    height: 150px;
    background-color: rgba(186, 243, 252, 0.3);
    border: 1px solid rgba(186, 243, 252, 0.5);
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
}

.table_item_uch {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 1160px;
    height: 225px;
    background-color: rgba(186, 243, 252, 0.3);
    border: 1px solid rgba(186, 243, 252, 0.5);
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;

}

.org_sobr_big {position: absolute;
    width: 202px;
    height: 18px;
    left: 60px;
    top: 131px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.sort {
    position: absolute;
    width: 350px;
    height: 18px;
    margin-left: 180px;
    top: 678px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;
}

.sort img {
    margin-left: 10px;
}

.stats_btn img {
    margin-left: 10px;
}

.table_h {
    position: absolute;
    padding: 0;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    width: 101px;
    height: 18px;
    left: 60px;
    top: 25px;

}

.table_data {
    position: relative;
    display: inline-block;
    list-style: none;
    width: fit-content;
    padding-left: 0;
    height: 40px;
    left: 53px;
    top: 75px;
    margin-right: 75px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;
    z-index: 999;
    overflow: visible;
}

.thin_text {
    padding-bottom: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;
}

.vl {
    position: absolute;
    height: 110px;
    width: 1px;
    left: 871px;
    top: 20px;
    opacity: 0.4;
    margin-right: 50px;
    background: #104781;
}

.date {
    position: absolute;
    width: 309px;
    height: 150px;
    top: 18px;
}

.datetime {
    position: relative;
    width: fit-content;
    margin-bottom: 0;
    left: 896px;
    list-style: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    color: #104781;
}

.sort_drop {
    position: absolute;
    width: 199px;
    height: 126px;
    margin-left: 230px;
    top: 720px;
    padding: 0;
    z-index: 1100;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;
    padding-top: 18px;
}

.sort_drop li {
    position: relative;
    left: 0;
    list-style: none;
    width: 199px;
    height: 30px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #406C9A;
}

.sort_drop li:hover{
    background: #BAF3FC;
}

.arrw{
    cursor: pointer;
}

.knopka_uch_join {position: absolute;
    width: 200px;
    height: 50px;
    left: 900px;
    top: 135px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;


    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;

    color: #00345F;
}

.knopka_uch_unjoin {position: absolute;
    width: 200px;
    height: 50px;
    left: 900px;
    top: 135px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;
    opacity: 0.3;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;

    color: #00345F;
}

.txt_ob_aktivnocti {
    position: absolute;
    width: 377px;
    height: 14px;
    left: 474px;
    top: 152px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

    color: #406C9A;
}

.add_drop {
    position: absolute;
    width: 280px;
    height: 131px;
    margin-left: 881px;
    top: 90px;
    margin-top: 17px;
    padding: 0;
    z-index: 1100;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;
    padding-top: 18px;
}

.add_drop li{
    position: relative;
    left: 0;
    list-style: none;
    width: 270px;
    height: 30px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #406C9A;
}

.add_drop li:hover{
    background: #BAF3FC;
}

.base_bg{
    margin-top: 1476px;
}

.base{
    margin-top: 1476px;
}