.table_min {position: absolute;
    width: 1160px;
    height: 90px;
    margin-left: 80px;
    top: 558px;

    background: #BAF3FC;
    border-radius: 15px;}

.chern_za {position: absolute;
    width: 160px;
    height: 18px;
    left: 60px;
    top: 36px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.chern_zaiav_big {position: absolute;
    width: 160px;
    height: 18px;
    left: 60px;
    top: 164px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.table_blue1 {box-sizing: border-box;

    position: absolute;
    width: 1160px;
    height: 150px;
    margin-left: 80px;
    top: 688px;

    background: #E6FBFE;
    opacity: 0.7;
    border: 1px solid rgba(186, 243, 252, 0.5);
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 15px;}

.table_blue2 {box-sizing: border-box;

    position: absolute;
    width: 1160px;
    height: 150px;
    margin-left: 80px;
    top: 858px;

    background: #E6FBFE;
    opacity: 0.7;
    border: 1px solid rgba(186, 243, 252, 0.5);
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 15px;}

.del {position: absolute;
    width: 69px;
    height: 18px;
    left: 60px;
    top: 25px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #406C9A;}

.red {position: absolute;
    width: 132px;
    height: 18px;
    left: 139px;
    top: 25px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.org {position: absolute;
    width: 86px;
    height: 14px;
    left: 60px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;}

.prav {position: absolute;
    width: 145px;
    height: 16px;
    left: 60px;
    top: 109px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;}

.dolzh {position: absolute;
    width: 61px;
    height: 14px;
    left: 278px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;
}

.kent {position: absolute;
    width: 246px;
    height: 16px;
    left: 278px;
    top: 109px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;}

.base_bg{
    margin-top: 1098px;
}

.base{
    margin-top: 1098px;
}