.lk {position: absolute;
    width: 259px;
    height: 38px;
    margin-left: 80px;
    top: 188px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */


    color: #104781;}

.table_min {position: absolute;
    width: 375px;
    height: 232px;
    margin-left: 80px;
    top: 276px;

    background: #BAF3FC;
    border-radius: 15px;}

.admin {position: absolute;
    width: 138px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.palka2 {position: absolute;
    width: 265px;
    height: 0px;
    left: 60px;
    top: 83px;

    opacity: 0.4;
    border: 1px solid #406C9A;}

.licd {position: absolute;
    width: 188px;
    height: 18px;
    left: 60px;
    top: 98px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #406C9A;}

.shabl {position: absolute;
    width: 188px;
    height: 18px;
    left: 60px;
    top: 131px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #406C9A;}

.sistem_obsh {position: absolute;
    width: 200px;
    height: 18px;
    left: 60px;
    top: 164px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #406C9A;}

.logout-1-traced {position: absolute;
    width: 18px;
    height: 20px;
    left: 307px;
    top: 49px;
}

.table_osn {position: absolute;
    width: 1160px;
    height: 645px;
    margin-left: 80px;
    top: 558px;

    background: #BAF3FC;
    border-radius: 15px;}

.ld {position: absolute;
    width: 138px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.txt_ld {position: absolute;
    width: 138px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

    color: #104781;}

.famil {position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.name {position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.otch {position: absolute;
    width: 300px;
    height: 50px;
    left: 760px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.telefon {position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;}

.email {position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;}

.email2 {position: absolute;
    width: 300px;
    height: 50px;
    left: 760px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;}

.txt_log {position: absolute;
    width: 191px;
    height: 18px;
    left: 60px;
    top: 354px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.login {position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 10px;}

.new_pas {position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 10px;}

.new_pas2 {position: absolute;
    width: 300px;
    height: 50px;
    left: 760px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 10px;}

.txt_obsh {
    position: absolute;
    width: 400px;
    height: 18px;
    left: 0px;
    top: -40px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;}

.knopka {position: absolute;
    width: 360px;
    height: 55px;
    left: 285px;
    top: 540px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.knopka2 {position: absolute;
    width: 180px;
    height: 55px;
    left: 695px;
    top: 540px;

    background: #BAF3FC;
    border-radius: 10px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.forms4 {
    padding:12px;
    width: 300px;
    border-radius:10px;
    border: none;

}
.forms4:focus{
    outline: none;
}

.table_mal {position: absolute;
    width: 1160px;
    height: 236px;
    margin-left: 80px;
    top: 558px;

    background: #BAF3FC;
    border-radius: 15px;}

.shabl_doks {position: absolute;
    width: 193px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.vubr_shabl {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.forms2 {  padding:12px;
    width: 1040px;
    border-radius:10px;
    border: none;
}

.forms2:focus{
    outline: none;
}


