html {
  font-size: 14px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.viewport {
  position: absolute;
  width: 100%;
  left: 0;
  height: 650px;
  top: -5px;
  background: linear-gradient(105.79deg, rgba(103, 200, 212, 0.3) 4.43%, rgba(0, 71, 129, 0.3) 47.8%), url(/img/back.png);
  background-size:100%;
  background-attachment: fixed;
}

.login_container {
  position: absolute;
  margin-left: 40px;
  top: 165px;
  height: 378px;
}

.login_block {
  border: none;
  border-radius: 15px;
  position: absolute;
  width: 660px;
  height: 378px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
}

.login_block a{
  text-decoration: none;
}

h2 {
  position: absolute;
  width: 532px;
  height: 76px;
  left: 60px;
  top: 48px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #104781;
}
.login_text {
  position: absolute;
  width: 447px;
  height: 75px;
  left: 64px;
  top: 154px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #104781;
}

.signin {
  position: absolute;
  width: 160px;
  height: 55px;
  left: 60px;
  top: 269px;
  border: none;
  border-radius: 10px;
  background: #37DCF5;
  color: #00345F;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.signup {
  text-decoration: none;
  position: absolute;
  width: 176px;
  height: 18px;
  left: 240px;
  top: 287px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */


  color: #104781;
}

.info_block {
  position: absolute;
  height: 378px;
  width: 500px;
  left: 700px;
  top: 15px;
  padding: 0;
  padding-left: 40px;
}

.info_item_1 {
  position: absolute;
  width: 205px;
  height: 90px;
}

.info_item_2 {
  position: absolute;
  width: 205px;
  height: 90px;
  left: 242px;
  padding-left: 40px;
}

.info_item_3 {
  position: absolute;
  width: 205px;
  height: 90px;
  top: 147px;
}

.info_item_4 {
  position: absolute;
  width: 205px;
  height: 90px;
  left: 242px;
  top: 147px;
  padding-left: 40px;
}

.color_text {
  width: 36px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  margin-top: 35px;
  /* identical to box height, or 18px */


  color: #37DCF5;
}

.p_heading {
  position: absolute;
  padding-left: 40px;
  bottom: 20px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */


  color: #FFFFFF;
}

.main_text {
  position: absolute;
  width: 218px;
  height: 90px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */


  color: #FFFFFF;
  opacity: 0.8;
}

.heading {
  position: absolute;
  width: 266px;
  height: 38px;
  top: 740px;
  margin-left: 40px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #104781;
}

.stats {
  position: absolute;
  width: 1160px;
  height: 90px;
  top: 828px;
  margin-left: 40px;
  background: #BAF3FC;
  border-radius: 15px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #406C9A;
  text-align: center;
  padding-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stats_head {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  margin-right: 137px;
}

.stats_item {
  display: inline-block;
  list-style: none;
  margin-top: 36px;
  text-decoration: none;
  margin-right: 60px;
}

.stats_btn {
  text-decoration: none;
  font-weight: 600;
  color: #406C9A;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  width: 1160px;
  height: 557px;
  top: 948px;
  margin-left: 40px;
  background: #BAF3FC;
  border-radius: 15px;
  margin-bottom: 30px;
  padding-left: 44px;
  padding-bottom: 51px;
}

.table {
  position: absolute;
  margin-left: 40px;
  height: 678px;
  width: 1160px;
  top: 996px;
  color: #FFFFFF;
}

.table_item {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 1160px;
  height: 150px;
  background-color: rgba(186, 243, 252, 0.3);
  border: 1px solid rgba(186, 243, 252, 0.5);
  box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
  border-radius: 15px;
  margin-bottom: 20px;
}

.sort {
  position: absolute;
  padding-bottom: 30px;
  width: 350px;
  height: 18px;
  top: 948px;
  margin-left: 100px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */


  color: #104781;
}

.sort img {
  margin-left: 10px;
}

.stats_btn img {
  margin-left: 10px;
}

.table_h {
  position: absolute;
  padding: 0;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #104781;
  width: 101px;
  height: 18px;
  left: 60px;
  top: 25px;

}

.table_data {
  position: relative;
  display: inline-block;
  list-style: none;
  width: fit-content;
  padding-left: 0;
  height: 40px;
  left: 53px;
  top: 75px;
  margin-right: 75px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */


  color: #104781;
  z-index: 999;
  overflow: visible;
}

.thin_text {
  padding-bottom: 10px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */


  color: #406C9A;
}

.vl {
  position: absolute;
  height: 110px;
  width: 1px;
  left: 871px;
  top: 20px;
  opacity: 0.4;
  margin-right: 50px;
  background: #104781;
}

.date {
  position: absolute;
  width: 309px;
  height: 150px;
  top: 18px;
}

.datetime {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  left: 896px;
  list-style: none;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  color: #104781;
}

.cross {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1080px;
  top: 50px;
  cursor: pointer;
}

.form_gr1 {
  display: inline-block;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 97px;
  padding: 0;
}

.form_gr1 li input {
  width: 400px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  border: none;
  color: #406C9A;
}

.form_gr2 {
  display: inline-block;
  width: 590px;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 50px;
}

.form_gr2 li input {
  width: 590px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  border: none;
  color: #406C9A;
}

.form_text {
  margin-bottom: 20px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */


  color: #406C9A;
}

.dropdown div p {
  position: absolute;
  width: 139px;
  height: 18px;
  left: 44px;
  top: 49px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  color: #104781;
  margin-bottom: 30px;
}

.form_3 {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.form_3 li input {
  width: 1045px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  border: none;
  color: #406C9A;
}

:focus {
  outline: none;
}

.placeh {
  padding-left: 17px;
}

.form_gr3 {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.form_gr3 li input {
  width: 146px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  border: none;
  color: #406C9A;
}

.form_gr3 li a {
  padding-right: 17px;
}

.date_f {
  display: inline-block;
  padding-right: 17px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #406C9A;
}

.form_gr4 {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-left: 55px;
  padding: 0;
}

.form_gr4 li input {
  width: 280px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  border: none;
  color: #406C9A;
}

.srch_btn {
  position: relative;
  width: 160px;
  height: 55px;
  background: #37DCF5;
  border-radius: 10px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #00345F;
  border: none;
  margin-left: 444px;
  margin-bottom: 51px;
}

content {
  width: 100%;
}

.sort_drop {
  position: absolute;
  width: 199px;
  height: 126px;
  margin-left: 230px;
  top: 986px;
  padding: 0;
  z-index: 1100;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
  border-radius: 10px;
  padding-top: 18px;
}

.sort_drop li {
  position: relative;
  left: 0;
  list-style: none;
  width: 199px;
  height: 30px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: #406C9A;
}

.sort_drop li:hover{
  background: #BAF3FC;
}

.arrw{
  cursor: pointer;
}

.drop_arrw1 {
  margin-left: -40px;
}

.drop_arrw2 {
  margin-left: -40px;
}

.form_drop1 {
  position: absolute;
  width: 280px;
  height: 456px;
  margin-top: 17px;
  padding: 0;
  z-index: 1100;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
  border-radius: 10px;
  padding-top: 18px;
}

.form_drop1 li {
  position: relative;
  left: 0;
  list-style: none;
  width: 270px;
  height: 30px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: #406C9A;
}

.form_drop1 li:hover{
  background: #BAF3FC;
}

.form_drop2 {
  position: absolute;
  width: 280px;
  height: 131px;
  margin-top: 17px;
  padding: 0;
  z-index: 1100;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
  border-radius: 10px;
  padding-top: 18px;
}

.form_drop2 li {
  position: relative;
  left: 0;
  list-style: none;
  width: 270px;
  height: 30px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: #406C9A;
}

.form_drop2 li:hover{
  background: #BAF3FC;
}