

.content {
    width: 100%;
}

.ogl {position: absolute;
    width: 800px;
    height: 16px;
    margin-left: 80px;
    top: 127px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: #406C9A;
    text-decoration: none;
    border: none;
}

.gl {position: absolute;
    width: 59px;
    height: 16px;
    left: 120px;
    top: 127px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #406C9A;}

.reg_new {position: absolute;
    width: 261px;
    height: 16px;
    left: 198px;
    top: 127px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #406C9A;
}

.uch_sbor_ql{position: absolute;
    width: 350px;
    height: 16px;
    left: 478px;
    top: 127px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #406C9A;}

.reg_uch {position: absolute;
    width: 500px;
    height: 38px;
    margin-left: 80px;
    top: 188px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */


    color: #104781;}

.reg_uch_txt {position: absolute;
    width: 609px;
    height: 147px;
    margin-left: 80px;
    top: 256px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #406C9A;}

.zaiav {position: absolute;
    width: 93px;
    height: 18px;
    margin-left: 80px;
    top: 453px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.gal {position: absolute;
    width: 554px;
    height: 156px;
    margin-left: 80px;
    top: 501px;}


.gal_txt1 {position: absolute;
    width: 463px;
    height: 42px;
    left: 25px;
    top: 0px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #406C9A;}

.gal_txt2 {position: absolute;
    width: 527px;
    height: 50px;
    left: 25px;
    top: 52px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #406C9A;}

.gal_txt3 {position: absolute;
    width: 527px;
    height: 42px;
    left: 25px;
    top: 105px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */



    color: #406C9A;}

.kub1 {position: absolute;
    width: 17px;
    height: 17px;
    left: 0px;
    top: 2px;
    border: 1px solid #406C9A;
    border-radius: 2px;

}

.kub2 {position: absolute;
    width: 17px;
    height: 17px;
    left: 0px;
    top: 54px;
    border: 1px solid #406C9A;
    border-radius: 2px;

}

.kub3 {position: absolute;
    width: 17px;
    height: 17px;
    left: 0px;
    top: 107px;
    border: 1px solid #406C9A;
    border-radius: 2px;
}

.inf_ob_uch{position: absolute;
    width: 319px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.table1 {

    box-sizing: border-box;

    position: relative;
    width: 1160px;
    height: 1134px;
    left: 120px;
    top: 707px;

    display: block;

    background: #BAF3FC;
    border-radius: 15px;

}

.table2 {

    box-sizing: border-box;

    position: absolute;
    width: 1160px;
    height: 1320px;
    margin-left: 80px;
    top: 707px;

    display: block;

    background: #BAF3FC;
    border-radius: 15px;

}

.unn2 {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;
}

.unn {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;
}

.snils {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;
}

.txt_obsh {
    position: absolute;
    width: 400px;
    height: 18px;
    left: 0px;
    top: -40px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
}

.forms {  padding:12px;
    width: 400px;
    border-radius:10px;
    border: none;
}

.forms:focus{
    outline: none;
}


.forms2 {  padding:12px;
    width: 1040px;
    border-radius:10px;
    border: none;
}

.forms2:focus{
    outline: none;
}


.forms3 {  padding:12px;
    width: 590px;
    border-radius:10px;
    border: none;
}

.forms3:focus{
    outline: none;
}


.forms4 {
    padding:12px;
    width: 300px;
    border-radius:10px;
    border: none;

}
.forms4:focus{
    outline: none;
}


.codorg {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.codorg2 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;
}

.famil {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;
}

.name {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;
}

.otch {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;
}

.poln_naim {position: absolute;
    position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 254px;

    background: #FFFFFF;
    border-radius: 10px;}

.qr_adres{position: absolute;
    position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 10px;}


.pcht_adres {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 490px;

    background: #FFFFFF;
    border-radius: 10px;}

.pcht_adres2 {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 10px;}

.telefon {position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 608px;

    background: #FFFFFF;
    border-radius: 10px;}

.telefon2 {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 490px;

    background: #FFFFFF;
    border-radius: 10px;
}

.email {position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 726px;

    background: #FFFFFF;
    border-radius: 10px;}

.email2 {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 608px;

    background: #FFFFFF;
    border-radius: 10px;
}

.email_2 {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 726px;

    background: #FFFFFF;
    border-radius: 10px;}

.email2_2 {
    position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 608px;

    background: #FFFFFF;
    border-radius: 10px;
}

.nazv_org {
    position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 490px;

    background: #FFFFFF;
    border-radius: 10px;
}

.pass {
    position: absolute;
    width: 177px;
    height: 18px;
    left: 60px;
    top: 708px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

    color: #104781;
}

.seria {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 794px;

    background: #FFFFFF;
    border-radius: 10px;
}

.nomer {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 794px;

    background: #FFFFFF;
    border-radius: 10px;
}

.data_vidochi {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 794px;

    background: #FFFFFF;
    border-radius: 10px;
}

.vidan {
    position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 912px;

    background: #FFFFFF;
    border-radius: 10px;
}

.doks {position: absolute;
    width: 101px;
    height: 18px;
    left: 60px;
    top: 826px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.doks_2 {
    position: absolute;
    width: 101px;
    height: 18px;
    left: 60px;
    top: 1012px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;
}

.txt_2 {
    position: absolute;
    width: 425px;
    height: 105px;
    left: 60px;
    top: 1060px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #406C9A;
}

.txt {position: absolute;
    width: 425px;
    height: 105px;
    left: 60px;
    top: 874px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #406C9A;}

.txt2 {position: absolute;
    width: 425px;
    height: 105px;
    left: 60px;
    top: 944px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;}

.knopka {position: absolute;
    width: 340px;
    height: 55px;
    left: 410px;
    top: 1029px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.knopka2 {
    position: absolute;
    width: 340px;
    height: 55px;
    left: 410px;
    top: 1215px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.doks2 {position: absolute;
    width: 94px;
    height: 94px;
    left: 600px;
    top: 880px;
}

.doks2_2 {
    position: absolute;
    width: 94px;
    height: 94px;
    left: 600px;
    top: 1066px;
}

.prikrepit-dokument {position: absolute;
    width: 194px;
    height: 18px;
    left: 709px;
    top: 892px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-decoration-line: underline;

    color: #104781;
}

.prikrepit-dokument2 {
    position: absolute;
    width: 194px;
    height: 18px;
    left: 709px;
    top: 1082px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-decoration-line: underline;

    color: #104781;
}

.base{
    margin-top: 190px;
}

.base_bg{
    margin-top: 190px;
}

.base2 {
    position: absolute;
    width: 1160px;
    height: 298px;
    top: 1746px;
    margin-top: 370px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 136.5%;
    color: #FFFFFF;
}
.base_bg2 {
    position: absolute;
    width: 100%;
    left: 0;
    height: 298px;
    top: 1746px;
    bottom: 0;
    margin-top: 370px;

    background: #104781;
}

.menu{
    top: 0;
}