.bc{
    position: absolute;
    top: 127px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    margin-left: 40px;
}

.bc a{
    text-decoration: none;
    color: #406C9A;
}

.heading{
    position: absolute;
    width: 600px;
    height: 38px;
    top: 188px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #104781;
    margin-left: 40px;
}

.ep{
    position: absolute;
    width: 1160px;
    height: 310px;
    top: 416px;
    background: #BAF3FC;
    border-radius: 15px;
    margin-left: 40px;
    padding-left: 60px;
    padding-top: 50px;
}

.ep p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    margin: 0;
    margin-top: 30px;
    padding-bottom: 30px;
}

.ep ul{
    padding: 0;
}

.hed{
    font-family: 'Exo 2';
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.ep ul li{
    display: inline-block;
    list-style: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #406C9A;
}

.ep ul li img{
    padding-right: 15px;
    padding-bottom: ;
}

.text{
    margin-left: 380px;
}

.svg{
    margin-right: 156px;
    padding-top: 10px;
}

.btns{
    margin-left: 295px;
    padding-top: 10px;
}

.down{
    width: 200px;
    height: 50px;
    border: 1px solid #00345F;
    border-radius: 10px;
    background: #BAF3FC;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #00345F;

}

.weight{
    display: block;
}

.stats {
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 276px;
    margin-left: 40px;
    background: #BAF3FC;
    border-radius: 15px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
    text-align: center;
    padding-bottom: 30px;
}

.stats_item {
    display: inline-block;
    list-style: none;
    margin-top: 36px;
    text-decoration: none;
    margin-right: 67px;
}

.base_bg{
    top: 0;
    margin-top: 816px;
}