html {
    overflow-x: hidden;
}

.bc{
    position: absolute;
    top: 127px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    margin-left: 40px;
}

.bc a{
    text-decoration: none;
    color: #406C9A;
}

.heading{
    position: absolute;
    width: 600px;
    height: 38px;
    top: 188px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #104781;
    margin-left: 40px;
}

.ep{
    position: absolute;
    width: 1160px;
    height: auto;
    top: 416px;
    background: #BAF3FC;
    border-radius: 15px;
    margin-left: 40px;
    padding-left: 60px;
    padding-bottom: 50px;
}

.ep p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    margin: 0;
    margin-top: 30px;
    padding-bottom: 30px;
}

.ep ul{
    padding: 0;
}

.ep ul li{
    display: inline-block;
    list-style: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #406C9A;
    margin-bottom: 20px;
}

.ep ul img{
    margin-left: -40px;
}

.dropd{
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 17px;
    color: #406C9A;
    font-size: 16px;
    width: 1040px;
    height: 50px;
}

button{
    width: 300px;
    height: 50px;
    top: 770px;
}

.show{
    border-radius: 10px;
    border: none;
    margin-left: 350px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #00345F;
    margin-top: 20px;
    background: #37DCF5;
}

.hide{
    background: #BAF3FC;
    border-radius: 10px;
    border: 1px solid #00345F;
    margin-left: 350px;
    top: 680px;
}

.stats {
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 276px;
    margin-left: 40px;
    background: #BAF3FC;
    border-radius: 15px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
    text-align: center;
    padding-bottom: 30px;
}

.stats_item {
    display: inline-block;
    list-style: none;
    margin-top: 36px;
    text-decoration: none;
    margin-right: 67px;
}

.stats_item {
    display: inline-block;
    list-style: none;
    margin-top: 36px;
    text-decoration: none;
    margin-right: 67px;
}

.bul{
    position: absolute;
    width: 1160px;
    height: 454px;
    margin-left: 40px;
    top: 416px;
    background: #BAF3FC;
    border-radius: 15px;
}

table{
    text-align: center;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #104781;
    margin-bottom: 60px;
}

.fio{
    width: 440px;
    text-align: left;
}

table tr th{
    width: 200px;
    padding: 18px;
    border: 1px solid rgba(16, 71, 129, 0.4);
}

table tr td{
    padding: 18px;
    border: 1px solid rgba(16, 71, 129, 0.4);
}

table tr td img{
    margin-left: 163px;
}

table tr td input{
    width: 17px;
    height: 17px;
    border: 1px solid #406C9A;
    border-radius: 2px;
}

.base_bg{
    top: 0;
    margin-top: 960px;
}