html {
    overflow-x: hidden;
}

.bc{
    position: absolute;
    top: 127px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    margin-left: 40px;
}

.bc a{
    text-decoration: none;
    color: #406C9A;
}

.heading{
    position: absolute;
    width: 600px;
    height: 38px;
    top: 188px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #104781;
    margin-left: 40px;
}

.ep{
    position: absolute;
    width: 1160px;
    height: auto;
    top: 416px;
    background: #BAF3FC;
    border-radius: 15px;
    margin-left: 40px;
    padding-left: 60px;
}

.ep p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    margin: 0;
    margin-top: 30px;
    padding-bottom: 30px;
}

.ep ul{
    padding: 0;
}

.ep ul li{
    display: inline-block;
    list-style: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #406C9A;
    width: 790px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 17px;
    color: #406C9A;
    font-size: 16px;
}

.stats {
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 276px;
    margin-left: 40px;
    background: #BAF3FC;
    border-radius: 15px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
    text-align: center;
    padding-bottom: 30px;
}

.stats_item {
    display: inline-block;
    list-style: none;
    margin-top: 36px;
    text-decoration: none;
    margin-right: 67px;
}

.stats_2 {
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 416px;
    margin-left: 40px;
    background: #BAF3FC;
    border-radius: 15px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
    text-align: left;
    padding-bottom: 30px;
}

.stats_item {
    display: inline-block;
    list-style: none;
    margin-top: 36px;
    text-decoration: none;
    margin-right: 67px;
}

table{
    position: absolute;
    width: 1160px;
    height: 663px;
    top: 416px;
    margin-left: 40px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #104781;
}

table tr th{
    text-align: left;
    background: #BAF3FC;
    padding: 12px;
}

.top th{
    border: 1px solid rgba(16, 71, 129, 0.4);
}

table tr td{
    border: 1px solid rgba(16, 71, 129, 0.4);
    padding: 12px;
    text-align: left;
}

.nobord{
    border-top: 1px solid rgba(16, 71, 129, 0.4);
    border-bottom: 1px solid rgba(16, 71, 129, 0.4);
}

.itog{
    border-bottom: 1px solid rgba(16, 71, 129, 0.4);
}

.f_cell{
    border-bottom: 1px solid rgba(16, 71, 129, 0.4);
    border-left: 1px solid rgba(16, 71, 129, 0.4);
}

.bord{
    border: 1px solid rgba(16, 71, 129, 0.4);
}

.base_bg{
    top: 0;
    margin-top: 1164px;
}

.knopka4 {position: absolute;
    width: 340px;
    height: 50px;
    margin-left: 355px;
    top: 1129px;

    background: #ffffff;
    border-radius: 10px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.knopka5 {position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 745px;
    top: 1129px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}



