.sort {
    position: absolute;
    padding-bottom: 30px;
    width: 350px;
    height: 18px;
    top: 744px;
    margin-left: 120px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.sort img {
    margin-left: 10px;
}
.sort_drop {
    position: absolute;
    width: 199px;
    height: 156px;
    margin-left: 250px;
    top: 775px;
    padding: 0;
    z-index: 1100;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;
    padding-top: 18px;
}

.sort_drop li {
    position: relative;
    left: 0;
    list-style: none;
    width: 199px;
    height: 30px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #406C9A;
}

.sort_drop li:hover{
    background: #BAF3FC;
}

.decline{
    position: absolute;
    width: 520px;
    height: 401px;
    margin-left: 600px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
    border-radius: 15px;
    padding: 60px 50px;
    z-index: 1000;
}

.decline p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #104781;
}

.decline input{
    width: 400px;
    height: 150px;
    background: #E6F5F7;
    border-radius: 10px;
    border: none;
    padding-bottom: 117px;
    padding-left: 17px;
}

.decline input:focus{
    outline: none;
}

.decline input::placeholder{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
}

.decline button{
    width: 400px;
    height: 55px;
    background: #37DCF5;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #00345F;
}

.table1 {position: absolute;
    width: 1160px;
    height: 90px;
    margin-left: 80px;
    top: 624px;

    background: #BAF3FC;
    border-radius: 15px;}

.table_min {
    position: absolute;
    width: 1160px;
    height: 150px;
    margin-left: 80px;
    top: 792px;
    color: #FFFFFF;
}

.table_item {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 1160px;
    height: 150px;
    background-color: rgba(186, 243, 252, 0.3);
    border: 1px solid rgba(186, 243, 252, 0.5);
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
}

.spisok_zaivok {position: absolute;
    width: 261px;
    height: 18px;
    left: 60px;
    top: 36px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.sort_po {position: absolute;
    width: 134px;
    height: 18px;
    left: 180px;
    top: 744px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.nomer_z {position: absolute;
    width: 200px;
    height: 18px;
    left: 60px;
    top: 25px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.kreditor {position: absolute;
    width: 64px;
    height: 14px;
    left: 60px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #406C9A;}

.nik {position: absolute;
    width: 230px;
    height: 16px;
    left: 60px;
    top: 109px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;}

.data_and_time {position: absolute;
    width: 89px;
    height: 14px;
    left: 400px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;}

.data {position: absolute;
    width: 125px;
    height: 16px;
    left: 400px;
    top: 109px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;}

.status {position: absolute;
    width: 44px;
    height: 14px;
    left: 700px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;}

.na_rasmotr {position: absolute;
    width: 132px;
    height: 16px;
    left: 700px;
    top: 109px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;}

.knopka_prin {position: absolute;
    width: 140px;
    height: 40px;
    left: 960px;
    top: 28px;

    background: #37DCF5;
    border-radius: 10px;

    border: none;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    text-align: center;

    color: #00345F;
}

.knopka_otklon {position: absolute;
    width: 140px;
    height: 40px;
    left: 960px;
    top: 83px;

    background: #E6FBFE;
    border-radius: 10px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    text-align: center;

    color: #00345F;
}

.vupodashka {position: absolute;
    width: 318px;
    height: 18px;
    margin-left: 180px;
    top: 744px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}


.vspluvashka_itme {
    position: absolute;
    width: 199px;
    height: 156px;
    margin-left: 299px;
    top: 775px;

    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;}

.palka1 {position: absolute;
    width: 110px;
    height: 0px;
    left: 800px;
    top: 75px;

    color: #104781;
    opacity: 0.4;
    border: 1px solid #104781;
    transform: rotate(-90deg);}

.data_provid {position: absolute;
    width: 181px;
    height: 14px;
    left: 900px;
    top: 25px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;}

.sama_data {position: absolute;
    width: 125px;
    height: 16px;
    left: 900px;
    top: 49px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;}

.data_priema {position: absolute;
    width: 137px;
    height: 14px;
    left: 900px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;
}

.sama_data2 {position: absolute;
    width: 177px;
    height: 16px;
    left: 900px;
    top: 109px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;}

.dolzhnik {position: absolute;
    width: 61px;
    height: 14px;
    left: 278px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;}

.nik2 {position: absolute;
    width: 246px;
    height: 16px;
    left: 278px;
    top: 109px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #104781;
}

.status2 {position: absolute;
    width: 44px;
    height: 14px;
    left: 604px;
    top: 85px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #406C9A;}

.status_ob {position: absolute;
    width: 197px;
    height: 16px;
    left: 604px;
    top: 109px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #104781;
}

.base_bg{
    margin-top: 1372px;
}

.base{
    margin-top: 1372px;
}

